@import "tailwindcss";

html, body, #root {
  min-height: 100%;
  width: 100%;
  margin: 0;
}


/* Design */
:root {
  --app-bg: linear-gradient(
    135deg,
    #EBF7FD 0%,
    #C3D5D9 25%,
    #e9d4f5 50%,
    #a5c1da 75%,
    #DCDBD7 100%
  );

  --app-bg-soft: linear-gradient(
    180deg,
    #F6FBFD 0%,
    #EBF7FD 100%
  );

  /* Text */
  --text-main: #0f172a;

  --sidebar-w: 96px;        
  --content-left-offset: calc(var(--sidebar-w) + 24px);
  --page-outer-gap: 24px;
}

/* Global Styles */
body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--text-main);

  background:
    radial-gradient(
      1200px 800px at 8% 10%,
      rgba(145, 185, 175, 0.18),
      transparent 60%
    ),
    radial-gradient(
      1000px 700px at 92% 20%,
      rgba(145, 175, 200, 0.16),
      transparent 55%
    ),
    var(--app-bg);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

/* Layout */
.layout-main {
  padding-left: var(--content-left-offset);
  padding-top: var(--page-outer-gap);
  padding-right: var(--page-outer-gap);
  padding-bottom: var(--page-outer-gap);
}

/* Utility Classes */
.bg-app {
  background: var(--app-bg);
}

.bg-app-soft {
  background: var(--app-bg-soft);
}
